<!-- Ethics Section -->
<section class="section" id="ethics">
    <div class="container is-max-desktop">
        <div class="columns is-centered has-text-centered">
            <div class="container is-max-desktop">
                <h2 class="title is-3">Ethics and Disclosure</h2>
                <div class="content has-text-justified">
                    <p>
                        In this study, we adhered to ethical standards to ensure safety and privacy. Our experiments were conducted 
                        using platforms provided officially or through open-source models deployed in a closed environment. 
                        We did not disseminate any harmful or illicit content to the public or others. The datasets we employed 
                        were obtained from public repositories and did not contain any personal information. The main objective of 
                        this study is to highlight potential vulnerabilities in LLMs, especially given the rapid pace of their adoption. 
                        Moreover, we have responsibly disclosed our findings to OpenAI and Meta.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> 