<!-- Header Section -->
<header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description"
        content="We propose a novel method that enhances jailbreak efficiency through adaptive strategy mining, leveraging unique vulnerabilities across different models and scenarios.">
    <meta name="keywords" content="Jailbreak, LLMs, Adversarial Prompt, Red Teaming">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Can Small Language Model Reliably Resist Jailbreak Attack? A Comprehensive Evaluation</title>

    <!-- Import elegant font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">

    <link href="./website/css" rel="stylesheet">
    <link rel="stylesheet" href="./website/bulma.min.css">
    <link rel="stylesheet" href="./website/bulma-carousel.min.css">
    <link rel="stylesheet" href="./website/bulma-slider.min.css">
    <link rel="stylesheet" href="./website/fontawesome.all.min.css">
    <link rel="stylesheet" href="./website/academicons.min.css">
    <link rel="stylesheet" href="./website/index.css">
    <link rel="icon" href="./website/images/dog.gif">

    <script src="./website/select.js"></script>
    <script src="./website/bootstrap.min.js"></script>
    <script src="./website/jquery.min.js.下载"></script>
    <script defer="" src="./website/fontawesome.all.min.js.下载"></script>
    <script src="./website/bulma-carousel.min.js.下载"></script>
    <script src="./website/bulma-slider.min.js.下载"></script>
    <script src="./website/index.js.下载"></script>
    <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</header>

<!-- Fixed navbar that appears on scroll
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: rgb(255, 249, 239); border-color: white">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#top" class="navbar-brand" style="color: rgb(2, 49, 78); font-weight: 800">SLM Jailbreak</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="#paper_overview" style="color: rgb(2, 49, 78); font-weight: 500">Overview</a></li>
            <li><a href="#results" style="color: rgb(2, 49, 78); font-weight: 500">Results</a></li>
            <li><a href="#try" style="color: rgb(2, 49, 78); font-weight: 500">Try it Yourself</a></li>
            <li><a href="leaderboard.html" style="color: rgb(2, 49, 78); font-weight: 500">Leaderboard</a></li>
            <li><a href="#ethics" style="color: rgb(2, 49, 78); font-weight: 500">Ethics</a></li>
        </ul>
    </div>
</nav>  -->