<!-- Overview Section -->
<section class="section" id="paper_overview">
    <div class="container is-max-desktop">
        <!-- Abstract. -->
        <div class="columns is-centered has-text-centered">
            <div class="column is-four-fifths">
                <h2 class="title is-3">Overview</h2>
                <div class="content has-text-justified">
                    <p>
                        This project is about a evaluation of the vulnerabilities of SLMs (Small Language Models) against jailbreak attacks. 
                        
                        <br><br>

                        <b>What did we introduce?</b> We develop a framework to systematically assess the vulnerability 
                        of SLMs to jailbreak attacks. This framework encompasses 14 risk categories and 9 attack methods, 
                        and it covers 15 SLM families consists of 62 SLMs, ensuring a thorough and diverse evaluation.
                        <br><br>
                        
                        <b>What did we find?</b> Through systematically evaluation on 62 SLMs from 15 mainstream SLM 
                        families against 9 state-of-the-art jailbreak methods, we demonstrate that <b>51.6%</b> of evaluated 
                        SLMs show high susceptibility to jailbreak attacks (ASR > 40%) and <b>38.7%</b> of them can not even 
                        resist direct harmful query (ASR > 50%). Through correlation analysis, we identify that the 
                        primary factors behind SLM vulnerabilities lie in the training details (e.g., training dataset 
                        and method) rather than model size scaling. Additionally, we evaluate the effectiveness of 
                        mainstream defense methods that can be applied to SLMs and find that none of them achieve 
                        satisfactory results, exhibiting limited performance and poor generalization across different 
                        attack methods. Building upon these findings, we highlight the need for security-by-design approaches 
                        in SLM development and provide valuable insights for building more trustworthy SLM ecosystem.
                        <br><br>
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="columns is-centered has-text-centered">
            <div class="container is-max-desktop" style="display: flex; flex-direction: column; align-items: center;">
                <div>
                    <img src="./website/images/overview.png" alt="" style="width:100%; height:100%;" class="center">
                </div>
                <div class="content has-text-centered" style="max-width: 100%;">
                    <p>
                        <br>
                        <span style="font-weight: bold; font-size: larger;">Figure 1. </span>
                        Overview of our evaluation framework. 
                        <!-- We evaluate the jailbreak vulnerabilities of 15 SLM families including 62 SLMs against 9 mainstream jailbreak attack methods with a class-balanced dataset (70 questions). -->
                    </p>
                </div>
            </div>
        </div>            
    </div>
</section> 